.board_item {
    width: 30%;
    position: relative;
}

.language {
    position: relative;
}

.language_btn {
    width: 32px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.language_btn:after {
    content: '';
    display: block;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.8s;
}

.language_btn:hover:after {
    width: 100%;
}

.language_btn_icon {
    margin-left: 4px;
    width: 6px;
    height: 6px;
    background: url("../../../../assets/images/global/icon-arrow-language.png") no-repeat center;
    background-size: contain;
    transition: all 0.4s;
}

.language_btn_icon.isOpened {
    transform: rotate(180deg);
}

.language_list {
    width: 100px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0);
    transition: all 0.4s;
    background-color: #ffffff;
    position: absolute;
    top: calc(100% + 20px);
    left: -20px;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 20%);
    padding: 18px 20px;
    cursor: pointer;
}

.language_list:before {
    content: '';
    display: block;
    width: 20px;
    height: 15px;
    position: absolute;
    top: -15px;
    left: calc(50% - 10px);
    background: url("../../../../assets/images/global/icon-triangle-white.png") no-repeat center;
    background-size: cover;
}

.language_list.isOpened {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: scale(1);
}

.language_list_item {
    padding: 5px 0;
    text-align: center;
}