.modal_content {
    margin: 65px auto;
    width: 100%;
    position: relative;
    max-width: 560px;
    height: 2000px;
    background-color: #ffffff;
    box-shadow: 0 10px 15px rgb(116 125 132 / 0.2);
    padding: 40px;
}

.modal__title {
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #000;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.modal_close {
    width: 35px;
    height: 35px;
    padding: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.modal_close:before,
.modal_close:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #000000;
}

.modal_close:before {
    transform: rotate(45deg);
}
.modal_close:after {
    transform: rotate(-45deg);
}